<div class="col-md-4 mb-5">
			<h5 class="font-weight-semi-bold mb-3">User Menu</h5>
				<div class="d-flex flex-column justify-content-start">
					<a class="text-dark mb-2" href="{{ path('app_user_index')}}">
						<i class="fa fa-angle-right mr-2"></i>Profil Bilgileri</a>
					<a class="text-dark mb-2" href="shop.html">
						<i class="fa fa-angle-right mr-2"></i>Siparişlerim</a>
					<a class="text-dark mb-2" href="detail.html">
						<i class="fa fa-angle-right mr-2"></i>Yorumlarım</a>
					<a class="text-dark mb-2" href="cart.html">
						<i class="fa fa-angle-right mr-2"></i>Favori Ürünlerim</a>
					<a class="text-dark mb-2" href="{{ path('app_logout')}}">
						<i class="fa fa-angle-right mr-2"></i>Logout</a>

				</div>